.header {
  position: fixed;
  height: 129px;
  background-color: white;
  .nav {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 63px;
    margin-top: 32px;
  }
  
}
.batas{
  font-size: 0px;
}